<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security/">
    <head>
        <title layout:fragment="title">Layout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        <link rel="icon" th:href="@{/img/spring-boot.ico}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.1/css/all.min.css}" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/mdb.min.css}" />
        <link rel="stylesheet" th:href="@{/css/addons/datatables.min.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body class="grey lighten-3">


        <!--Main Navigation-->
        <header>

            <!-- Navbar -->
            <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
                <div class="container-fluid">



                    <!-- Collapse -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Links -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <!-- Left -->
                        <!-- Search Bar -->
                        <form class="d-flex justify-content-center">
                            <!-- Default input -->
                            <input type="search" placeholder="Type your query" aria-label="Search" class="form-control" style="width: 560px;">
                            <button class="btn btn-primary btn-sm my-0 p" type="submit">
                                <i class="fas fa-search"></i>
                            </button>

                        </form>

                        <!-- Right -->
                        <ul class="navbar-nav nav-flex-icons ml-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link waves-effect" target="_blank">
                                    <i class="fas fa-globe"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link waves-effect" target="_blank">
                                    <i class="fas fa-envelope"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link waves-effect" target="_blank">
                                    <span sec:authentication="name"></span>
                                </a>
                            </li>
                        </ul>

                        <img th:src="@{/img/Sajib_Original.jpg}" alt="thumbnail" class="img-thumbnail" style="width: 52px; height: 52px; border-radius: 50%;">

                    </div>

                </div>
            </nav>
            <!-- Navbar -->


            <!-- Sidebar -->
            <div class="sidebar-fixed position-fixed" style="background-color: rgb(29, 40, 44);">
				
                <div class="text-center" >
                
                	 <!--<img th:src="@{/img/invent.ico}" style="height:60px; width:60px; text-align:left; float:left;" class=" rounded-circle" alt="logo">-->
                    <!--<a th:href="@{/dashboard}" class="logo-wrapper waves-effect" style="padding: 1.5em;">
                       
                    </a>-->
                </div>

                <!-- th:class="${#fields.hasErrors('firstName')}? 'form-control is-invalid' : 'form-control'" -->

                <div class="list-group list-group-flush bg-transparent "><br>
					 <div class="text-left" style="padding-left: 40px;"><img th:src="@{/img/invent.ico}" style="height:80px; width:80px; " class=" rounded-circle" alt="logo"> </div>
                    <a th:href="@{/dashboard}" th:class="${section == 'dashboard'}? 'list-group-item waves-effect active' : 'list-group-item list-group-item-action waves-effect  text-light bg-transparent'">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-chart-pie mr-3"></i></div>
                            <div class="col col-md-10">Dashboard</div>
                        </div>
                    </a>

                    <a th:href="@{/employees}" th:class="${section == 'employees'}? 'list-group-item waves-effect active' : 'list-group-item list-group-item-action waves-effect text-light bg-transparent'">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-users-cog mr-3"></i></div>
                            <div class="col col-md-10">Retailer</div>
                        </div>
                    </a>

                    <a th:href="@{/products}" th:class="${section == 'products'}? 'list-group-item waves-effect active' : 'list-group-item list-group-item-action waves-effect text-light bg-transparent'">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-boxes mr-3"></i></div>
                            <div class="col col-md-10">Products</div>
                        </div>
                    </a>

                    <a th:href="@{/categories}" th:class="${section == 'categories'}? 'list-group-item waves-effect active' : 'list-group-item list-group-item-action waves-effect text-light bg-transparent'">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-paste mr-3"></i></div>
                            <div class="col col-md-10">Categories</div>
                        </div>
                    </a>

                    <a th:href="@{/stores}" th:class="${section == 'stores'}? 'list-group-item waves-effect active' : 'list-group-item list-group-item-action waves-effect text-light bg-transparent'">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-store-alt mr-3"></i></div>
                            <div class="col col-md-10">Stores</div>
                        </div>
                    </a>

                    <a th:href="@{/groups}" th:class="${section == 'groups'}? 'list-group-item waves-effect active' : 'list-group-item list-group-item-action waves-effect text-light bg-transparent'">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-paste mr-3"></i></div>
                            <div class="col col-md-10">Groups</div>
                        </div>
                    </a>
                     <a th:href="@{/suppliers}" th:class="${section == 'suppliers'}? 'list-group-item waves-effect active' : 'list-group-item list-group-item-action waves-effect text-light bg-transparent'">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-paste mr-3"></i></div>
                            <div class="col col-md-10">Suppliers</div>
                        </div>
                    </a>

                    <a th:href="@{/orders}" th:class="${section == 'orders'}? 'list-group-item waves-effect active' : 'list-group-item list-group-item-action waves-effect text-light bg-transparent'">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-dollar-sign mr-3"></i></div>
                            <div class="col col-md-10">Orders</div>
                        </div>
                    </a>
                     <a th:href="@{/stock}" th:class="${section == 'stock'}? 'list-group-item waves-effect active' : 'list-group-item list-group-item-action waves-effect text-light bg-transparent'">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-paste mr-3"></i></div>
                            <div class="col col-md-10">Stocks</div>
                        </div>
                    </a>
                   
                    <a th:href="@{/logins}" class="list-group-item list-group-item-action waves-effect text-light bg-transparent">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-key mr-3"></i></div>
                            <div class="col col-md-10">Logins</div>
                        </div>
                    </a>

                    <a th:href="@{/settings}" th:class="${section == 'settings'}? 'list-group-item waves-effect active' : 'list-group-item list-group-item-action waves-effect text-light bg-transparent'">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-cogs mr-3"></i></div>
                            <div class="col col-md-10">Settings</div>
                        </div>
                    </a>

                    <a th:href="@{/logout}" class="list-group-item list-group-item-action waves-effect text-light bg-transparent">
                        <div class="row">
                            <div class="col col-md-2 text-center"><i class="fas fa-sign-out-alt mr-3"></i></div>
                            <div class="col col-md-10">Log out</div>
                        </div>
                    </a>
                </div>

            </div>
            <!-- Sidebar -->

        </header>
        <!--Main Navigation-->




        <!-- Main layout -->
        <main class="py-5 mx-lg-5">

            <div class="container-fluid mt-5">

                <div th:if="${param.success}" class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fas fa-check mr-2"></i>
                    <span>Operation performed successfully.</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fas fa-exclamation-circle mr-2"></i>
                    <span>An error occurred while performing this operation. (check out the inputs and try again)</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div layout:fragment="content">
                    <!-- Page Contant Goes Here!!! -->
                </div>
            </div>
        </main>
        <!-- Main layout -->

        <!--Footer-->
        <footer class="page-footer text-center font-small primary-color-dark darken-2 wow fadeIn">

            <!--Copyright-->
            <div class="footer-copyright py-3">
                © 2021 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/" target="_blank"> sajib.com </a>
            </div>
            <!--/.Copyright-->

        </footer>
        <!--/.Footer-->

        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/addons/datatables.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/mdb.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
        <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
        
    </body>
</html>
